# Базовое
requests>=2.31,<3.0
python-dotenv>=1.0,<2.0
PyYAML>=6.0,<7.0

# Работа с данными
numpy>=1.26,<2.0
pandas>=2.0,<3.0

# БД и DWH
SQLAlchemy>=2.0,<3.0
psycopg2-binary>=2.9,<3.0

# Data Lake (MinIO)
minio>=7.2,<8.0

# ML (базовая модель, без тяжёлых зависимостей)
scikit-learn>=1.4,<2.0

# Визуализация (дашборд)
streamlit>=1.38,<2.0
